.heading {
    font-weight:100;
    font-size: 1.5rem;
}

.wallet {
    margin:2rem;
}

.balance-box {
    padding: 1rem;
}

.currency {
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
}

.balance {
    text-align: right;
    font-size: 36pt;
    font-weight: bold;
    /* font-family: "News Cycle", sans-serif; */
}

.MMD-color{
    color: #FFFF99;
}

.CMMD-color{
    color: #AAFFAA;
}
