.icon {
    vertical-align:middle;
}

.icon_small {
    vertical-align:middle;
}

.button2 {
    border-radius: 100px;
    border-color:FFFFFF;
}

.BalanceHeading {
    font-weight:bold;
    font-size: 1.5rem;
}

.BalanceBoxContent {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.CurrencyFormat {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
}

.BalanceFormat {
    text-align: right;
    font-size: 3rem;
}

.BalancePrimary {
    font-weight: 700;
}

.BalanceSecondary {
    font-weight: 100;
}

.MMD-color {
    color: #FFFF99;
}

.CMMD-color {
    color: #AAFFAA;
}

.Note {
    text-align: right;
    line-height: 1rem;
    font-size: 0.8rem;
}

.OperationName {
    font-weight: 700;
}