.BalanceHeading {
    font-weight:bold;
    font-size: 1.5rem;
}

.BalanceContent {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.CurrencyFormat {
    display: inline-flex;
    align-items : center;
    font-size: 1rem;
}

.BalanceFormat {
    text-align: right;
    font-size: 36pt;
    font-weight: bold;
    /* font-family: "News Cycle", sans-serif; */
}

.MMD-color{
    color: #FFFF99;
}

.CMMD-color{
    color: #AAFFAA;
}
