body {
  margin: 0rem !important;
  background-color: #10141C;
  color: #999999;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

root {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand {
  padding: 1.4rem 0rem 1rem;
  text-align: center;
  color: #CCCCCC;
  font-size: 2rem;
  font-weight: 200;
}

.wallet {
  margin: 0rem !important;
  padding: 0.2rem 1.6rem 1.8rem;
  background-attachment: fixed;
  background-position: center 90%;
  background-image: linear-gradient(rgba(16, 21, 25, 0.84), rgba(13, 18, 22, 0.92)), url(../public/hk_background.jpg);
}

.operation {
  margin: 0rem !important;
  padding: 2.4rem 1.6rem;
}

